* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    background-color: #e8f5fc;
    color: #699ab6;
    justify-content: center;
    align-items: center;
}

span {
    background-color: #e8f5fc;
    color: #699ab6;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    padding: 15px;
    border-radius: 30px;
    display: grid;
    background-color: #e8f5fc;
    box-shadow: 6px 6px 10px rgba(164, 216, 243, 0.5),
        -6px -6px 10px rgba(255, 255, 255, 0.6);
    grid-template-columns: repeat(5, 70px);
}

input {
    grid-column: span 5;
    height: 70px;
    width: 20rem;
    background-color: #e8f5fc;
    box-shadow: inset 6px 6px 10px rgba(164, 216, 243, 0.5),
        inset -6px -6px 10px rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 28px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 15px;

}

button {
    height: 48px;
    width: 48px;
    background-color: #e8f5fc;
    box-shadow: inset 6px 6px 10px rgba(164, 216, 243, 0.5),
        inset -6px -6px 10px rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 20px;
    margin: 8px;
    font-size: 16px;

}

button:hover {
    transform: translateY(-2px);
    background-color: #dff1fd;
}

button:active:focus {
    transform: translateY(2px);
    box-shadow: inset 6px 6px 10px rgba(164, 216, 243, 0.5),
        -6px -6px 10px rgba(255, 255, 255, 0.6);
}

button:focus {
    box-shadow: 6px 6px 10px rgba(164, 216, 243, 0.5),
        -6px -6px 10px rgba(255, 255, 255, 0.6),
        inset 6px 6px 10px rgba(164, 216, 243, 0.5),
        inset -6px -6px 10px rgba(255, 255, 255, 0.6),

}

.equal {
    background-color: #6b8afa;
    color: #fff;
    box-shadow: 3px 11px 25px rgba(28, 91, 248, .6),
        -6px -6px 10px rgba(255, 255, 255, 0.6),
        inset -3px -3px 14px rgba(255, 255, 255, 0.2),
        inset 8px 8px 14px rgba(48, 91, 248, .5);
    grid-column-start: 5;
    border-radius: 50px;

}

button.equal:hover {
    background-color: #5277f9;
}

button.equal:active:focus,
button.equal:focus {
    box-shadow: 3px 11px 25px rgba(8, 60, 247, .6),
        -6px -6px 10px rgba(255, 255, 255, .9),
        inset 3px 11px 15px rgba(8, 60, 247, .5),
        inset -6px -6px 8px rgba(206, 216, 253, .5)
}

.ac_button {
    color: #eb4747;
    border-radius: 30%;

}